.signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.signup_nav {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 30px;
    padding: 20px;
    width: 100%;    
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.signup_navLogo {
    width: 150px;
    object-fit: contain;
    position: fixed;
    left: 20px;
}

.signup_signInButton {
    width: 100px;
    padding: 10px 10px;
    position: fixed;
    right: 20px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #e50914;
    font-size: 17px;
    border-radius: 2px;
}

.signup_form {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 20px;
    z-index: 1;
}

.signup_form > h2 {
    font-size: 1.7rem;
}

.signup_form > h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.signup_form > input {
    height: 10px;
    padding: 15px;
    outline: none;
    font-size: 20px;
}

.signup_form > p {
    text-align: center;
    margin: 5px 0;
}

.signup_form > p > a {
    text-decoration: none;
    color: #e50914;
} 

.signup_form > p > a:hover {
    border-bottom: 1px solid #e50914;
} 

.signup_button {
    height: 40px;
    border: none;
    background-color: #e50914;
    border-radius: 5px;
    margin: 15px 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

/* Media queries */

@media (max-width:330px) {
    .signup_navLogo{
        width: 110px;
    }
    .signup_signInButton{
        width: 75px;
        padding: 8px 10px;
        font-size: 15px;
    }
    .signup_form {
        max-width: 250px;
    }
    
}

@media (min-width:331px) and (max-width:425px) {
    .signup_navLogo{
        width: 110px;
    }
    .signup_signInButton{
        width: 75px;
        padding: 8px 10px;
        font-size: 15px;
    }
    .signup_form {
        max-width: 290px;
    }
    
}

@media (min-width:426px) and (max-width:762px) {
    .signup_form {
        max-width: 350px;
    }
}

@media (min-width:763px) and (max-width:1024px) {
    .signup_form {
        max-width: 400px;
    }
}




