.signin {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin_form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.signin_form > h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
}

.signin_form > input {
    height: 10px;
    padding: 15px;
    outline: none;
    font-size: 20px;
}

.signin_form > p{
    text-align: center;
}

.signin_form > p > a{
    text-decoration: none;
    color: #e50914;
}

.signin_form > p > a:hover{
    border-bottom: 1px solid #e50914;
}

.signin_button {
    height: 40px;
    margin: 15px 0;
    font-size: 1rem;
    background-color: #e50914;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

/* media queries */

@media (min-width:320px) and (max-width:400px) {
    .signin_form {
        max-width: 250px;
    }
}

@media screen and (max-width:425px) {
    .signin_form {
        max-width: 300px;
    }
}

@media screen and (max-width:762px) {
    .signin_form {
        max-width: 350px;
    }
}

